# Virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# SQLite DB
iot_enrichment.db

# pytest cache
.pytest_cache/

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Coverage
htmlcov/
.coverage

# Logs
*.log

# env files
.env
